page-about {
  .about-items{
      text-align: right;
      padding: 15px;
      color: #0d426d;
      direction: rtl;
  }

  .about-item-text{
    font-family: 'GESSTwoLight-Light';
    margin-bottom: 7px;
  }
  
  #about-spinner{
      text-align: center;
      margin-top: 25px;
  }


}
