page-program {
 
    #program-spinner{
        text-align: center;
    }
 .episode-item{
     direction: rtl;
     text-align: right;

     width: 100%;
     border-top: 1px solid #d3d5d7;
     color:#0c3e65;
     position: relative;
 }

 .episode-item:nth-child(2n){
     background-image: url("../../assets/imgs/bg3.png")
 }


.episode-item span{
    color: #787c78;
    font-family: 'GESSTwoLight-Light';
}

.eposide-text{
    padding-left: 35px;
    direction: rtl;
}

.img-container{
    position: relative;
}

.img-container span{
    width: 27px;
    height: 27px;
    background-image: url("../../assets/imgs/play1.png");
    background-size: 100% 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.program-track-item-active span{
    background-image: url("../../assets/imgs/pause1.png");
}

.favorite{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 28px;
    background-color: #eceded;
    background-image: url("../../assets/imgs/star-gray.png");
    background-position: center;
    background-size: 72% auto;
    background-repeat: no-repeat;
}

.episode-item:nth-child(2n) .favorite{
    background-color: #0c3d64;
    background-image: url("../../assets/imgs/star-white.png");
}


#program-spinner{
    text-align: center;
    margin-top: 25px;
}

.program-btn-container{
    text-align: center;
    padding: 12px;
    direction: rtl;
}

.program-btn{
    background-color: #0e497a;
    color: #02c3e7;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border-bottom: solid #02c3e7 2px;
}

}

