page-program {
 
    #program-spinner{
        text-align: center;
    }
 .episode-item{
     direction: rtl;
     text-align: right;

     width: 100%;
     border-top: 1px solid #d3d5d7;
     color:#0c3e65;
 }


.episode-item span{
    color: #787c78;
    font-family: 'GESSTwoLight-Light';
}

}

