page-music {

    .track-item{
        text-align: right;
        direction: rtl;
        color: #0d426d;
        padding:11px;
        border-bottom: 1px solid #d1d1d1;
        font-size: 16px;
        background-position: left 10px center;
        background-image: url(../../assets/imgs/play.png);
        background-repeat: no-repeat;
        background-size: 35px;
    }

    .track-item span{
        font-size: 12px;
        display: block;
        font-family: 'GESSTwoLight-Light';
    }

    .track-item:active{
        background-color: #0d426d;
        color: #fff;
    }

    .track-item-active{
        background-image: url(../../assets/imgs/pause.png);
    }

    #music-spinner{
        text-align: center;
        margin-top: 25px;
    }

}
