page-programs {

  .program-item{
      padding: 3px;
      border:1px solid #f3f4f2;
      border-radius: 3px;
      margin: 35px;
  }

  .program-bg{
      background-image: url("../../assets/imgs/bg2.png");
      padding: 11px;
  }

  .program-bg img{
      opacity: 0.85;
  }

  .program-desc{
      text-align: right;
      direction: rtl;
      color: #631961;
      font-family: 'GESSTwoLight-Light';
      font-size: 14px;
  }
  
  .program-desc span{
    font-family: 'GESSTwoMedium-Medium';
  }


  .swiper-slide img{
      width: 100%;
  }

  ion-slides {
      height: auto;
  }

  .arrows{
      background-size: 100% 100%;
      width: 17px;
      height: 34px;
      position: absolute;
      top: 28vh;
      z-index: 1000;
  }

  #l{
    background-image: url("../../assets/imgs/larrow.png");
    left: 7px;
    display: none
   }
   #l:active{
    background-image: url("../../assets/imgs/larrow-hover.png");
   }

   #r{
    background-image: url("../../assets/imgs/rarrow.png");
    right: 7px;
    display: none;
 }

 #r:active{
    background-image: url("../../assets/imgs/rarrow-hover.png");
 }

 #spinner{
    text-align: center;
    margin-top: 25px;
}

#data{
    display: none;
}

.btn-container{
    text-align: center;
}

.btn-container div{
    background-image: url("../../assets/imgs/btn.png");
    background-size: 100% 100%;
    color: #093157;
    display: inline;
    padding: 10px 18px;
    font-size: 18px;
}

.btn-container div:active {
    background-image: url("../../assets/imgs/btn-hover.png");
}

}
