page-home {
    
    .btn{
        background-color: #f3f4f4;
        border:1px solid #bdbdbd;
        border-radius: 6px;
        text-align: center;
    }
    
    
    .active{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 100;
        opacity: 0;
    }
    
    .btn:active{
        background-color: #02c3e7;
    }
    .btn:active .active{
        opacity: 1;
    }

    .btn:active .first{
        opacity:0
    }

    

}
